In [1]:
import pandas as pd

In [2]:
import os

In [10]:
files = os.listdir("./digits-processed")
df = pd.DataFrame([(i, file) for i, file in enumerate(sorted(files))], columns=["label", "path"])
df

   label          path
0      0  IMG_9838.JPG
1      1  IMG_9840.JPG
2      2  IMG_9841.JPG
3      3  IMG_9842.JPG
4      4  IMG_9843.JPG
5      5  IMG_9844.JPG
6      6  IMG_9845.JPG
7      7  IMG_9846.JPG
8      8  IMG_9847.JPG
9      9  IMG_9848.JPG

In [11]:
df.to_csv("labels.csv")